@model IEnumerable<MaestroModel>;

@{
    ViewData["Title"] = "Listado de Profesores";
    DateTime fechaInscripcion = new DateTime(2024, 05, 20);
}

<center>
    <h1 class="display-2">Listado de profesores</h1>

    <a <a asp-controller="Maestro" asp-action="MaestroAdd" class="btn btn-primary mb-3">
        Agregar Materia

    </a>

    <table class="table">
        <thead>
<tr>
     <th> Nombre</th>
     <th>Carrera</th>
     <th> Edad</th>
     <th>Sexo</th>
</tr>
        </thead>
        <tbody>
                @foreach (var teacher in Model)
                {
                <tr>
                    <td>
                        <a class="btn btn-danger" asp-controller="Maestro" asp-action="MaestroEdit" asp-route-id="@teacher.id">Edición</a>
                        <a class="btn btn-primary" asp-controller="Maestro" asp-action="MaestroDeleted" asp-route-id="@teacher.id">Borrar</a>

                    </td>
                    <td>
                            @teacher.Nombre
                    </td>
                     <td>
                            @teacher.Carrera
                    </td>
                    <td>
                            @teacher.Edad
                    </td>
                    <td>
                            @teacher.Sexo
                    </td>
                </tr>
                }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    </center>
        @*
    </center>
    <br>
    <h2>@DateTime.Now</h2>
    <i>@fechaInscripcion</i>
*@
    <h3>@Model.Nombre es profesor de la carrera</h3>
    <br>

    <img src="~/img/guts.png" width="950" height="950">
    <br><br>
    <label>Esto puede ser una prueba</label>

    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>